@model IEnumerable<SneakersProjetoFinal.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Cadastro.css">

<button class="button">
    Categorias
</button>
<br><br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCategoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <button>
        <a asp-action="Create">Criar Novo</a>
    </button>
</div>

