@model IEnumerable<SneakersProjetoFinal.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Categoria.css">

<button class="button">
    Cadastro Categoria
</button>
<br><br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCategoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoriaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoriaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table><br />
<div>
    <button class="cadastrarcategoria">
        <a asp-action="Create" class="corcategoria">Criar Categoria</a>
    </button>
</div>
