@model SneakersProjetoFinal.Models.Cadastro

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/CSSCadastro.css" />

<button class="button">
    Excluir Cadastro
</button>
<hr />
<div class="table1">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPFCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPFCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Senha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Senha)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> 
    </form>
    <div>
        <a asp-action="Index" class="voltardeletecadastro">Voltar</a>
    </div>
</div>
