@model SneakersProjetoFinal.Models.CadastroProduto

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/CSSCadastroProduto.css">

<button class="button">
    Detalhes do Produto
</button>
<hr />
<table class="table1 >
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.CategoriaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemProduto)
        </dd>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="voltardetailsproduto">Editar</a> |
    <a asp-action="Index" class="voltardetailsproduto" >Voltar</a>
</div>
