@model IEnumerable<SneakersProjetoFinal.Models.CadastroProduto>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/CadastroProduto.css">

<button class="button">
    Produtos Cadastrados
</button>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemProduto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.NomeCategoria)
            </td>
            <td>               
                <img src = "@Url.Content(item.ImagemProduto)" class="imagem-produto"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <button class="cadastrarproduto">
        <a asp-action="Create" class="corcadastrar" > Cadastrar Produto </a>
    </button>
</div>

